{% extends 'base.html' %}
{% load static %}
{% block header %}
<style>
    body {
      
     
    }

    .heading h1 {
      text-align: center;
      font-size: 80px;
      color: rgb(16, 225, 236);
      margin-top: 60px;
     
     

    }
    .heading h4 {
      text-align: center;
      font-size: 40px;
      color: rgb(246, 235, 235);
      margin-top: 10px;
      margin-bottom: 150px;
      font-style: italic;
     

    }

    .heading h2 {
      text-align: center;
      font-size: 60px;
      color: black;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 300px auto;
      margin-right: 300px auto;

    }
    .heading h3 {
      text-align: end;
      font-size: 20px;
      color: black;
      margin-bottom: 5px;
      margin-right: 45px;

    }

    .row {
      margin: 5px;
      
    }

    #features {
      padding: 2%;
      border: 10px;
    }
    #features1{
      padding: 2%;
     
      border: 10px;
      background-image: url('{% static "/images/BG2.png" %}');
      background-size: 1520px 720px;
    }

    .features {
      border: 1px solid red;
      padding: 5px;
      border-radius: 5px;
      margin: 8px;
      transition: 0.5s;
      background: rgb(222, 134, 231);
    }

    .features:hover {
      transform: scale(1.1);
      box-shadow: 2px 6px 5px;
    }
    .features p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 500px;
      font-size: 20px;
      color: black;
    }

    .features2 {
      border: 1px solid red;
      padding: 5px;
      border-radius: 5px;
      margin: 8px;
      transition: 0.5s;
      background: rgb(222, 134, 231);
    }

    .features2:hover {
      transform: scale(1.1);
      box-shadow: 2px 6px 5px;
    }

    .features2 p {
      font-size: 20px;
      color: black;
    }

    .icon-style {
      background: rgb(82, 174, 240);
      padding: 15px;
      margin: 5px;

    }
   
  </style>
{% endblock %}
{% if 'userid' in request.session %}
{% block contain1 %}
<section id="features1" class="text-center">
    <div class="heading sm-12">
      <h1>ESCHOOL</h1>
      
      <h4 class="text-center">Best Education From Home</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="features2">
          <i id="cap" class="fa fa-graduation-cap fa-5x icon-style rounded-circle"></i>
          <h2>Online Courses</h2>
          <p >
            Best Online Courses From The Best Teachers.
          </p>
        </div>

      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="features2">
          <i id="cap" class="fa fa-youtube-play fa-5x icon-style rounded-circle"></i>
          <h2>Video Tutorials</h2>
          <p >
            Video Lectures of Each Topics that will Help You to Make Your Concept Clear
          </p>
          
        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="features2">
          <i id="cap" class="fa fa-pencil-square-o fa-5x icon-style rounded-circle"></i>
          <h2>MCQ Exams</h2>
          <p >
            After Finishing Each Topic,Students Can Take part in Exams to Test Their Learning
          </p>
          
        </div>

      </div>

    </div>
</section>
<div class="line"></div>
<div class="heading">
    <h2>Top Rated Courses</h2>
</div>
<section id="features" class="text-center">
    <div class="row justify-content-lg-center">
        {% if course1.0 %}
        <div class="col-lg-4" onclick="window.location='/course/{{course1.0.COURSE_ID}}';">
            <div class="features">
                <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
              <h3>{{course1.0.TITLE}}</h3>
              <p >{{course1.0.DESCRIPTIONS}}</p>
              <p>Ratting: {{course1.0.RATTING}} &nbsp; &nbsp; Students: {{course1.0.NUM_OF_STUDENTS}}</p>
            </div>
        </div>
        {% endif %}
        {% if course1.1 %}
        <div class="col-lg-4" onclick="window.location='/course/{{course1.1.COURSE_ID}}';">
          <div class="features">
              <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
            <h3>{{course1.1.TITLE}}</h3>
            <p >{{course1.1.DESCRIPTIONS}}</p>
            <p>Ratting: {{course1.1.RATTING}} &nbsp; &nbsp; Students: {{course1.1.NUM_OF_STUDENTS}}</p>
          </div>
        </div>
        {% endif %}
        {% if course1.2 %}
        <div class="col-lg-4" onclick="window.location='/course/{{course1.2.COURSE_ID}}';">
          <div class="features">
              <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
            <h3>{{course1.2.TITLE}}</h3>
            <p >{{course1.2.DESCRIPTIONS}}</p>
            <p>Ratting: {{course1.2.RATTING}} &nbsp; &nbsp; Students: {{course1.2.NUM_OF_STUDENTS}}</p>
          </div>
        </div>
        {% endif %}
    </div>
</section>
<div class="heading">
  <h3><a href="{% url 'all_courses' 'toprated' %}">Expand All</a></h3>
</div>
<div class="line"></div>
<div class="heading">
  <h2>Most Popular Courses</h2>
</div>
<section id="features" class="text-center">
  <div class="row justify-content-lg-center">
      {% if course2.0 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course2.0.COURSE_ID}}';">
          <div class="features">
              <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
            <h3>{{course2.0.TITLE}}</h3>
            <p >{{course2.0.DESCRIPTIONS}}</p>
            <p>Ratting: {{course2.0.RATTING}} &nbsp; &nbsp; Students: {{course2.0.NUM_OF_STUDENTS}}</p>
          </div>
      </div>
      {% endif %}
      {% if course2.1 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course2.1.COURSE_ID}}';">
        <div class="features">
            <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
          <h3>{{course2.1.TITLE}}</h3>
          <p >{{course2.1.DESCRIPTIONS}}</p>
          <p>Ratting: {{course2.1.RATTING}} &nbsp; &nbsp; Students: {{course2.1.NUM_OF_STUDENTS}}</p>
        </div>
      </div>
      {% endif %}
      {% if course2.2 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course2.2.COURSE_ID}}';">
        <div class="features">
            <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
          <h3>{{course2.2.TITLE}}</h3>
          <p >{{course2.2.DESCRIPTIONS}}</p>
          <p>Ratting: {{course2.2.RATTING}} &nbsp; &nbsp; Students: {{course2.2.NUM_OF_STUDENTS}}</p>
        </div>
      </div>
      {% endif %}
  </div>
</section>
<div class="heading">
  <h3><a href="{% url 'all_courses' 'popular' %}">Expand All</a></h3>
</div>
<div class="line"></div>
<div class="heading">
  <h2>Most Popular Teachers</h2>
</div>
<section id="features" class="text-center">
  <div class="row justify-content-lg-center">
      {% if teachers.0 %}
      <div class="col-lg-4" onclick="window.location='/profile/{{teachers.0.USER_ID}}';">
          <div class="features">
            <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
            <h3>{{teachers.0.NAME}}</h3>
            <p>Courses: {{teachers.0.COURSE_TAKEN}}</p>
          </div>
      </div>
      {% endif %}
      {% if teachers.1 %}
      <div class="col-lg-4" onclick="window.location='/profile/{{teachers.1.USER_ID}}';">
        <div class="features">
            <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
            <h3>{{teachers.1.NAME}}</h3>
            <p>Courses: {{teachers.1.COURSE_TAKEN}}</p>
        </div>
      </div>
      {% endif %}
      {% if teachers.2 %}
      <div class="col-lg-4" onclick="window.location='/profile/{{teachers.2.USER_ID}}';">
        <div class="features">
            <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
            <h3>{{teachers.2.NAME}}</h3>
            <p>Courses: {{teachers.2.COURSE_TAKEN}}</p>
        </div>
      </div>
      {% endif %}
  </div>
</section>
<div class="heading">
  <h3><a href="{% url 'all_teachers' %}">Expand All</a></h3>
</div>
<div class="mt-5"></div>
<div class="bg-dark text-center text-light py-4">
  &copy;ESCHOOL
</div>
{% endblock %}
{% else %}
{% block contain2 %}
<section id="features1" class="text-center">
  <div class="heading sm-12">
    <h1>ESCHOOL</h1>
    
    <h4 class="text-center">Best Education From Home</h4>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="features2">
        <i id="cap" class="fa fa-graduation-cap fa-5x icon-style rounded-circle"></i>
        <h2>Online Courses</h2>
        <p >
          Best Online Courses From The Best Teachers.
        </p>
      </div>

    </div>


    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="features2">
        <i id="cap" class="fa fa-youtube-play fa-5x icon-style rounded-circle"></i>
        <h2>Video Tutorials</h2>
        <p >
          Video Lectures of Each Topics that will Help You to Make Your Concept Clear
        </p>
        
      </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="features2">
        <i id="cap" class="fa fa-pencil-square-o fa-5x icon-style rounded-circle"></i>
        <h2>MCQ Exams</h2>
        <p >
          After Finishing Each Topic,Students Can Take part in Exams to Test Their Learning
        </p>
        
      </div>

    </div>

  </div>
</section>
<div class="line"></div>
<div class="heading">
  <h2>Top Rated Courses</h2>
</div>
<section id="features" class="text-center">
  <div class="row justify-content-lg-center">
      {% if course1.0 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course1.0.COURSE_ID}}';">
          <div class="features">
              <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
            <h3>{{course1.0.TITLE}}</h3>
            <p >{{course1.0.DESCRIPTIONS}}</p>
            <p>Ratting: {{course1.0.RATTING}} &nbsp; &nbsp; Students: {{course1.0.NUM_OF_STUDENTS}}</p>
          </div>
      </div>
      {% endif %}
      {% if course1.1 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course1.1.COURSE_ID}}';">
        <div class="features">
            <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
          <h3>{{course1.1.TITLE}}</h3>
          <p >{{course1.1.DESCRIPTIONS}}</p>
          <p>Ratting: {{course1.1.RATTING}} &nbsp; &nbsp; Students: {{course1.1.NUM_OF_STUDENTS}}</p>
        </div>
      </div>
      {% endif %}
      {% if course1.2 %}
      <div class="col-lg-4" onclick="window.location='/course/{{course1.2.COURSE_ID}}';">
        <div class="features">
            <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
          <h3>{{course1.2.TITLE}}</h3>
          <p >{{course1.2.DESCRIPTIONS}}</p>
          <p>Ratting: {{course1.2.RATTING}} &nbsp; &nbsp; Students: {{course1.2.NUM_OF_STUDENTS}}</p>
        </div>
      </div>
      {% endif %}
  </div>
</section>
<div class="heading">
<h3><a href="{% url 'all_courses' 'toprated' %}">Expand All</a></h3>
</div>
<div class="line"></div>
<div class="heading">
<h2>Most Popular Courses</h2>
</div>
<section id="features" class="text-center">
<div class="row justify-content-lg-center">
    {% if course2.0 %}
    <div class="col-lg-4" onclick="window.location='/course/{{course2.0.COURSE_ID}}';">
        <div class="features">
            <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
          <h3>{{course2.0.TITLE}}</h3>
          <p >{{course2.0.DESCRIPTIONS}}</p>
          <p>Ratting: {{course2.0.RATTING}} &nbsp; &nbsp; Students: {{course2.0.NUM_OF_STUDENTS}}</p>
        </div>
    </div>
    {% endif %}
    {% if course2.1 %}
    <div class="col-lg-4" onclick="window.location='/course/{{course2.1.COURSE_ID}}';">
      <div class="features">
          <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
        <h3>{{course2.1.TITLE}}</h3>
        <p >{{course2.1.DESCRIPTIONS}}</p>
        <p>Ratting: {{course2.1.RATTING}} &nbsp; &nbsp; Students: {{course2.1.NUM_OF_STUDENTS}}</p>
      </div>
    </div>
    {% endif %}
    {% if course2.2 %}
    <div class="col-lg-4" onclick="window.location='/course/{{course2.2.COURSE_ID}}';">
      <div class="features">
          <i class="fa-solid fa-chalkboard-user fa-5x icon-style rounded-circle"></i>
        <h3>{{course2.2.TITLE}}</h3>
        <p >{{course2.2.DESCRIPTIONS}}</p>
        <p>Ratting: {{course2.2.RATTING}} &nbsp; &nbsp; Students: {{course2.2.NUM_OF_STUDENTS}}</p>
      </div>
    </div>
    {% endif %}
</div>
</section>
<div class="heading">
<h3><a href="{% url 'all_courses' 'popular' %}">Expand All</a></h3>
</div>
<div class="line"></div>
<div class="heading">
<h2>Most Popular Teachers</h2>
</div>
<section id="features" class="text-center">
<div class="row justify-content-lg-center">
    {% if teachers.0 %}
    <div class="col-lg-4" onclick="window.location='/profile/{{teachers.0.USER_ID}}';">
        <div class="features">
          <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
          <h3>{{teachers.0.NAME}}</h3>
          <p>Courses: {{teachers.0.COURSE_TAKEN}}</p>
        </div>
    </div>
    {% endif %}
    {% if teachers.1 %}
    <div class="col-lg-4" onclick="window.location='/profile/{{teachers.1.USER_ID}}';">
      <div class="features">
          <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
          <h3>{{teachers.1.NAME}}</h3>
          <p>Courses: {{teachers.1.COURSE_TAKEN}}</p>
      </div>
    </div>
    {% endif %}
    {% if teachers.2 %}
    <div class="col-lg-4" onclick="window.location='/profile/{{teachers.2.USER_ID}}';">
      <div class="features">
          <i class="fa fa-user fa-5x icon-style rounded-circle" ></i>
          <h3>{{teachers.2.NAME}}</h3>
          <p>Courses: {{teachers.2.COURSE_TAKEN}}</p>
      </div>
    </div>
    {% endif %}
</div>
</section>
<div class="heading">
<h3><a href="{% url 'all_teachers' %}">Expand All</a></h3>
</div>
<div class="mt-5"></div>
<div class="bg-dark text-center text-light py-4">
  &copy;ESCHOOL
</div>
{% endblock %}
{% endif %}