{% extends 'base.html' %}
{% block contain %}
<div class="col-lg-5 shadow mx-auto p-0 m-5">
    <div class="alert alert-success "> Create An Account</div>
    <div class="p-4">
        <form action="{% url 'register_student'%}" method="POST">
            {% csrf_token %}
            {% if error %}
            <div style="padding-top: 5px;"></div>
            <div class="alert alert-danger" style="padding-left: 200px;padding-top: 5;">{{error}}</div>
            {% endif %}
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name"  placeholder="Enter Name">
            </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email"  placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <div class="form-group">
              <label for="mobile">Mobile No.</label>
              <input type="number" class="form-control" name="mobile" id="mobile"  placeholder="Enter Mobile Number">
          </div>
          <div class="form-group">
              <label for="institution">Institution</label>
              <input type="text" class="form-control" name="institution" id="institution"  placeholder="Enter Institution's Name">
          </div>
          <div class="form-group">
            <label for="class">Class</label>
            <input type="number" class="form-control" name="class" id="class"  placeholder="Class">
          </div>
          <div class="form-group">
              <label for="department">Department</label>
              <input type="text" class="form-control" name="department" id="department"  placeholder="Department">
          </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
    </div>
</div>
{% endblock %}