{% extends 'base.html' %}
{% block contain1 %}
<div style="width:1100px; margin:0 auto;">
    <div class="row my-5">
        <div class="col-3">
            <button type="button" class="btn btn-dark mx-2" onclick="window.location='/course/{{cid}}';">Back to Course</button>
        </div>
        <div class="col ml-5">
            <h2 class="ml-5">Disscussion Forum</h2>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <form class="form-settings" name = "comment" action="/course/{{cid}}/forum/add_comment" method="POST">
                {% csrf_token %}
                <textarea class="form-control" id="comment_text" name="comment_text" rows="3" placeholder="Post A Comment" required></textarea>
                <br>
                <div class="mar-top clearfix">
                    <button class="btn btn-outline-primary pull-right" type="submit"> post </button>
                </div>
            </form>
        </div>
    </div>
    <div class="line"></div>
    <h4 class="text-center my-3">Previous Questions</h4>
    {% for comment in comments %}
    <div class="modal fade" id="deleteComment-{{comment.F_ID}}" tabindex="-1" aria-labelledby="deleteComment-{{comment.F_ID}}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteComment-{{comment.F_ID}}">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mx-4 text-dark">
                    Are you sure want to Delete this Comment?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="window.location='/course/{{cid}}/forum/delete_comment/{{comment.F_ID}}';">
                    Delete</button>
            </div>
            </div>
        </div>
    </div>
    <form class="mx-4" action="/course/{{comment.C_ID}}/forum/edit_comment/{{comment.F_ID}}" method="POST">
        {% csrf_token %}
    <div class="modal fade" id="editComment-{{comment.F_ID}}" tabindex="-1" aria-labelledby="editComment-{{comment.F_ID}}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editComment-{{comment.F_ID}}">Edit Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="mb-2">
                            <label for="description">Comment: </label>
                            <textarea class="form-control" id="description" name="description" rows="3" required>{{comment.DESCRIPTION}}</textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% if not comment.PAR_COM_ID  %}
    <div class="row justify-content-start border p-2">
        <div class="col-1">
            <div class="row align-items-center mt-3" ><i class="fa-regular fa-message fa-3x"></i></div>
        </div>
        <div class="col">
            <div class="row justify-content-between">
                <div class="col-8"><h5> <a href="{% url 'profile' comment.USER_ID %}">{{comment.NAME}}</a></h5></div>
                <div class="col"><h5>{{comment.DATE}}</h5></div>
            </div>
            <div class="row ml-1">{{comment.DESCRIPTION}}</div>
            
            <div class="row justify-content-end">
                {% if request.session.userid == comment.U_ID %}
                <div class="col-1"><h6> <a type="button" data-bs-toggle="modal" data-bs-target="#editComment-{{comment.F_ID}}">Edit</a></h6></div>
                <div class="col-2"><h6> <a type="button" data-bs-toggle="modal" data-bs-target="#deleteComment-{{comment.F_ID}}">Delete</a></h6></div>
                {% endif %}
                <div class="col-2"><h6><a type="button" data-toggle="collapse" data-target="#reply-{{comment.F_ID}}" aria-expanded="false" aria-controls="reply-{{comment.F_ID}}">Reply</a></h6></div>
                {% if comment.CHILD > 0 %}
                <div class="col-2"><h6><a type="button" data-toggle="collapse" data-target="#allreply-{{comment.F_ID}}" aria-expanded="false" aria-controls="allreply-{{comment.F_ID}}">Show Replies</a></h6></div>
                {% endif %}
            </div>
            
        </div>
    </div>
    {% endif %}
    <div style="width:900px; margin:0 auto;">
        <div class="collapse" id="reply-{{comment.F_ID}}">
            <div class="card card-body">
                <div class="panel">
                    <div class="panel-body">
                        <form class="form-settings" name = "comment" action="/course/{{comment.C_ID}}/forum/add_reply/{{comment.F_ID}}" method="POST">
                            {% csrf_token %}
                            <textarea class="form-control" id="reply" name="reply" rows="3" placeholder="Post A reply" required></textarea>
                            <br>
                            <div class="mar-top clearfix">
                                <button class="btn btn-outline-primary pull-right" type="submit"> Reply </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse" id="allreply-{{comment.F_ID}}">
            <div class="card card-body">
                {% for comment1 in comments %}
            
                {% if comment1.PAR_COM_ID == comment.F_ID  %}
                <div class="row justify-content-start border p-2">
                    <div class="col-1">
                        <div class="row align-items-center mt-3" ><i class="fa fa-reply fa-3x" ></i></div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-8"><h5> <a href="{% url 'profile' comment.USER_ID %}">{{comment1.NAME}}</a></h5></div>
                            <div class="col"><h5>{{comment1.DATE}}</h5></div>
                        </div>
                        <div class="row ml-1">{{comment1.DESCRIPTION}}</div>
                        
                        <div class="row justify-content-end">
                            {% if request.session.userid == comment1.U_ID %}
                            <div class="col-1"><h6> <a type="button" data-bs-toggle="modal" data-bs-target="#editComment-{{comment1.F_ID}}">Edit</a></h6></div>
                            <div class="col-2"><h6> <a type="button" data-bs-toggle="modal" data-bs-target="#deleteComment-{{comment1.F_ID}}">Delete</a></h6></div>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}