{% extends 'base.html' %}
{% load static %}
{% if 'userid' in request.session %}
{% block contain1 %}
<div style="width:1300px; margin:0 auto;">
    <div class="row my-5">
        <div class="col-3">
            <button type="button" class="btn btn-dark mx-2" onclick="window.location='/course/{{cid}}';">Back to Course</button>
        </div>
        <div class="col ml-5">
            <h2 class="ml-5">Course Content</h2>
        </div>
    </div>

    {% if role == 'teacher' or role == 'contributer' %}
    <div class="row justify-content-end">
        <div class="col-2">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addLectureModal">
                Add Lecture
            </button>
            <form class="mx-4" action="{{tid}}/add_lecture" method="POST">
                {% csrf_token %}
            <div class="modal fade" id="addLectureModal" tabindex="-1" aria-labelledby="addLectureModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addLectureModal">Add New Lecture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="mb-2">
                            <label for="title">Title: </label>
                            <input type="text" class="form-control" name="title" id="title" required>
                          </div>
                          <div class="mb-2">
                            <label for="link">Video Link: </label>
                            <input type="text" class="form-control" name="link" id="link">
                          </div>
                          <div class="mb-2">
                            <label for="duration">Duration: </label>
                            <input type="number" class="form-control" name="duration" id="duration" value="0">
                          </div>
                          
                          <div class="mb-2">
                            <label for="description">Description: </label>
                            <textarea class="form-control" name="description" id="description" rows="3">  </textarea>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addexamModal">
                Add exam
            </button>
            <form class="mx-4" action="{{tid}}/add_quiz" method="POST">
                {% csrf_token %}
            <div class="modal fade" id="addexamModal" tabindex="-1" aria-labelledby="addexamModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addexamModal">Add Exam</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <div class="mb-2">
                                    <label for="name">Exam Name: </label>
                                    <input type="text" class="form-control" name="title" id="name" value="{{content.NAME}}" required>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="mt-5"></div>

    

    <ul class="list-group list-group-flush">
        {% for content in contents %}
        <!--Modal start-->
        <form class="mx-4" action="{{tid}}/content/{{content.CONTENT_ID}}/edit_content" method="POST">
            {% csrf_token %}
        <div class="modal fade" id="myModal-{{content.CONTENT_ID}}" tabindex="-1" aria-labelledby="myModalLabel-{{content.CONTENT_ID}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModal-{{content.CONTENT_ID}}">Edit Content {{content.TYPE}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="mb-2">
                                <label for="name">Content Name: </label>
                                <input type="text" class="form-control" name="title" value="{{content.NAME}}" required>
                            </div>
                            {% if content.TYPE == 'lecture' %}
                            <div class="mb-2">
                                <label for="link">Video Link: </label>
                                <input type="text" class="form-control" name="link" value="{{content.VIDEO_LINK}}">
                            </div>

                            <div class="mb-2">
                                <label for="duration">Duration: </label>
                                <input type="number" class="form-control" name="duration" value="{{content.DURATION}}">
                            </div>
                            
                            <div class="form-group mb-2">
                                <label for="description">DESCRIPTION</label>
                                <textarea class="form-control" name="description" rows="3"> {{content.DESCRIPTION}} </textarea>
                            </div>
                            {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="modal fade" id="deleteContentModal-{{ content.CONTENT_ID }}" tabindex="-1" aria-labelledby="deleteContentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteContentModal">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mx-4 text-dark">
                        Are you sure want to Delete this Content?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}/delete';">
                        Delete</button>
                </div>
                </div>
            </div>
        </div>
        <!--Modal ended-->


        <li class="list-group-item list-group-item-action shadow">
            <div class="row">
                <div class="col-lg-1" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}';" style="cursor:pointer;">
                    {% if content.TYPE == 'lecture' %}
                    <img src="{% static 'images/lecture.png'%}" width="80px" >
                    {% else %}
                    <img src="{% static 'images/ques1.png'%}" width="80px" >
                    {% endif %}
                </div>
                {% if role == 'teacher' or role == 'contributer' %}
                <div class="col-lg-1" >
                    <div class="row " >
                        <button type="button" class="btn btn-light" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}/up_content';" style="cursor:pointer;">
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="row " >
                        <button type="button" class="btn btn-light" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}/down_content';" style="cursor:pointer;">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
                {% endif %}
                <div class="col" style="padding-top: 0px;" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}';" style="cursor:pointer;">
                    <div class="row  pt-2" >
                        <div class="col-6" >
                            <h4 style="color:#069">{{content.NAME}}</h4>
                        </div>
        
                    </div>       
                    <div class="row  pt-2" >
                        <div class="col-4">
                            <h6 style="color:#069">Type: {{content.TYPE}}</h6>
                        </div>

                        {% if content.TYPE == 'lecture'  %}
                        <div class="col-4">
                            <h6 style="color:#069">Duration: {{content.DURATION}} min</h6>
                        </div>
                        {% else %}
                        <div class="col-4">
                            <h6 style="color:#069">Questions: {{content.NUM_OF_QUESTIONS}}</h6>
                        </div>
                        <div class="col-4">
                            <h6 style="color:#069">Total Marks: {{content.MARKS}}</h6>
                        </div>
                        {% endif %}

                    </div>        
                </div>
                {% if role == 'teacher' or role == 'contributer' %}
                <div class="col-lg-1 mt-3 " >
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal-{{content.CONTENT_ID}}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    
                </div>
                <div class="col-lg-1 mt-3 ">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteContentModal-{{ content.CONTENT_ID }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
                {% endif %}
                {% if role == 'estudent' %}
                <div class="col-lg-1 mt-3" >
                    {% if content.S_ID == request.session.userid %}
                    <i class="fas fa-check-circle fa-2x "></i>
                    {% else %}
                    <i class="fa-solid fa-circle-xmark fa-2x"></i>
                    {% endif %}
                </div>
                {% endif %}
          
            </div>
        </li>
        {% endfor %}
    </ul> 
</div>
{% endblock %}
{% else %}
{% block contain2 %}
<div style="width:1300px; margin:0 auto;">
    
    <div class="row my-5">
        <div class="col-3">
            <button type="button" class="btn btn-dark mx-2" onclick="window.location='/course/{{cid}}';">Back to Course</button>
        </div>
        <div class="col ml-5">
            <h2 class="ml-5">Course Content</h2>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        {% for content in contents %}
        <li class="list-group-item list-group-item-action shadow">
            <div class="row  ">
            <div class="col-1" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}';" style="cursor:pointer;">
                {% if content.TYPE == 'lecture' %}
                <img src="{% static 'images/lecture.png'%}" width="80px" >
                {% else %}
                <img src="{% static 'images/ques1.png'%}" width="80px" >
                {% endif %}
            </div>
            <div class="col ml-4" style="padding-top: 0px;" onclick="window.location='/course/{{cid}}/topic/{{tid}}/content/{{content.CONTENT_ID}}';" style="cursor:pointer;">
                <div class="row  pt-2" >
                    <div class="col-6" >
                        <h4 style="color:#069">{{content.NAME}}</h4>
                    </div>
    
                 </div>       
                 <div class="row  pt-2" >
                    <div class="col-4">
                        <h6 style="color:#069">Type: {{content.TYPE}}</h6>
                    </div>

                    {% if content.TYPE == 'lecture'  %}
                    <div class="col-4">
                        <h6 style="color:#069">Duration: {{content.DURATION}} min</h6>
                    </div>
                    {% else %}
                    <div class="col-4">
                        <h6 style="color:#069">Questions: {{content.NUM_OF_QUESTIONS}}</h6>
                    </div>
                    <div class="col-4">
                        <h6 style="color:#069">Total Marks: {{content.MARKS}}</h6>
                    </div>
                    {% endif %}

                </div>        
            </div>
          
            </div>
          </li>
        {% endfor %}
    </ul> 
</div>
{% endblock %}
{% endif %}