{% extends 'base.html' %}
{% load static %}

{% block contain1 %}
{% if request.session.role == 'teacher' %}
<div class="mt-5"></div>
<div style="width:900px; margin:0 auto;"> 
    <p ><h2 class="text-center my-5"> Enrollment Requests   </h2></p>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Course Title</th>
                <th scope="col">Student Name</th>
                <th scope="col">Approval</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <div class="modal fade" id="removeModal{{enrollment.ID}}" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="removeModal{{enrollment.ID}}">Confirm Remove</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="mx-4 text-dark">
                            Are you sure want to Reject this Student?
                        </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-danger"onclick="window.location='/profile/{{request.session.userid}}/reject_student/{{enrollment.COURSE_ID}}/{{enrollment.S_ID}}';" style="cursor:pointer;">Remove</button>
                    </div>
                  </div>
                </div>
            </div>
            <tr >
                <td onclick="window.location='/course/{{enrollment.COURSE_ID}}';" style="cursor:pointer;">{{enrollment.TITLE}}</td>
                <td onclick="window.location='/profile/{{enrollment.S_ID}}';" style="cursor:pointer;">{{enrollment.NAME}} </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="window.location='/profile/{{request.session.userid}}/accept_student/{{enrollment.COURSE_ID}}/{{enrollment.S_ID}}';">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal{{enrollment.ID}}">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
